body{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    height: 100vh;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    overflow: hidden;
    text-align: center;
}
div{
    padding: 50px 30px;
    border-radius: 25px;
}
.start{
    justify-self: start;
    align-self: start;
    background-color: rgb(68, 58, 199);
}
.centerstart{
    justify-self: center;
    align-self: start;
    background-color: rgb(54, 133, 102);
    padding: 42px 27px;
    margin-top: -4px;
}
.endstart{
    justify-self: end;
    align-self: start;
    background-color: rgb(185, 136, 44);
}
.startcenter{
    justify-self: start;
    align-self: center;
    background-color: rgb(184, 49, 49);
    padding: 40px 25px;
}
.center{
    justify-self: center;
    align-self: center;
    background-color: rgb(75, 13, 75);
    padding: 45px 25px;
}
.endcenter{
    justify-self: end;
    align-self: center;
    background-color: rgb(124, 58, 91);
    padding: 40px 25px;
}
.startend{
    justify-self: start;
    align-self: end;
    background-color: rgb(43, 105, 129);
}
.centerend{
    justify-self: center;
    align-self: end;
    background-color: rgb(57, 126, 69);
    padding: 45px 30px;
}
.end{
    justify-self: end;
    align-self: end;
    background-color: rgb(201, 121, 16);
}