body{
    display: flex;
    justify-content: space-evenly;
}
section{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 30px;
}
div{
    margin-top: 25px;
}
img{
    width: 150px;
    height: auto;
}